*{
    margin: 0;
    padding: 0;
}

body{
    height: 2000px;
    font-family: sans-serif;
}

.con{
    width: 80%;
    height: 100vh;
    margin: auto;
    /* background-color: gray; */
    overflow: auto;
}

.content-left{
    width: 45%;
    float: left;
}

.content-right{
    width: 45%;
    height: 600px;
    float: left;
}

.title-content-left{
    font-size: 48px;
    color: #1877f2;
    line-height: 85px;
    font-weight: 800 ;
}

.text-content-left{
    font-weight: bold;
    line-height: 25px;
}

.box-content{
    width: 90%;
    margin: auto;
    margin-top: 200px;
}
.input-text ,.input-pass , .input-submit ,.forgot-link ,.btn-creat{

    display: block;
}
form{
    width: 80%;
    background-color:rgb(173, 173, 173);
    padding: 10px 0px;
    margin-top: 120px;
    border: 0;
    border-radius: 5px;
}
.input-text ,.input-pass {
    width: 250px;
    height: 30px;
    padding: 7px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 20px auto;
}
.input-submit{
    width: 266px;
    height: 45px;
    color: #fff;
    background-color: #1877f2;
    border: 0;
    border-radius: 5px;
    margin: 20px auto;
    font-size: 18px;
    opacity: 0.8;
}
.forgot-link{
    text-decoration: none;
    text-align: center;
    color: #1877f2;
}
.line{
    width: 250px;
    margin:20px auto;
    background-color: #f7f7f7;

}
.btn-creat{
    background-color: #06b909;
    color: #fff;
    opacity: 0.8;
    font-size: 17px;
    width: 200px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 30px;
}

.input-submit:hover ,.btn-creat:hover{
    cursor: pointer;
    opacity: 1;
}